<app-header title="Buttons"></app-header>

<ion-content padding>
  <ion-button size="small" expand="full">Small</ion-button>
  <ion-button size="default" expand="full">Default</ion-button>
  <ion-button size="large" expand="full">Large</ion-button>

  <ion-button class="m-t-20"
              expand="full"
              routerLink="/avatar"
              color="success">
            Avatar
  </ion-button>

  <ion-row>
    <ion-col>
        <ion-button expand="full"
                    routerLink="/alert"
                    color="tertiary">
                  Alert
        </ion-button>
    </ion-col>
    <ion-col>
        <ion-button expand="full"
                    routerLink="/action-sheet"
                    color="danger">
                  Action Sheet
        </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center">
    <ion-button class="m-t-20"
                fill="clear">
                Clear
    </ion-button>
    <ion-button class="m-t-20"
                fill="outline">
                Outline
    </ion-button>
    <ion-button class="m-t-20"
                fill="solid">
                Solid
    </ion-button>
  </ion-row>
</ion-content>
