<app-header title="FAB"></app-header>

<ion-content padding>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button *ngFor="let button of fabTop"
                        [color]="button.color">
          <ion-icon [name]="button.logo"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button *ngFor="let button of fabStart"
                        [color]="button.color">
        <ion-icon [name]="button.logo"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
  </ion-fab>

  <ion-list>
    <ion-item *ngFor="let item of data; let i = index">
      <ion-label>Item {{i +1}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar color="primary" text-center>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>